
.idea/
*.iml
*.ipr
*.iws

.gradle/
**/.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

local.properties

.externalNativeBuild/
.cxx/

.DS_Store

captures/

*.jks

.kotlinc/

*.hprof

lint/reports/
lint-results*.xml
*.log

*.orig
